*{
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    background-color: rgb(173, 237, 173);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 50px;
    height: 75px;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.crumb {
    border: none;
    font-size: 17px;
    width: auto;
}

#logo {
    height: 140px;
    width: auto;
    display: inline-flex;
    justify-content: flex-start;
}

h1 {
    text-align: center;
    font-size: 60px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

h3 {
    font-size: 18px;
    text-align: center;
}

h4{
    font-size: 15px;
    text-align: center;
}

.preview-image {
    height: 330px;
    width: auto;
    border-style: solid;
    border-width: 25px;
    border-color: azure;
}

#signup-login {
    display: flex;
    justify-content: center;
}

#log-btn {
    background-color: rgb(216, 227, 232);
    font-size: 20px;
    height: 40px;
    width: 285px;
    cursor: pointer;
}

.log-btn:hover {
    background-color: rgb(98, 164, 193);
    color: white;
}

.log-popup {
    display: none;
    flex-direction: row;
    height: 630px;
}

#log-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#create-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    width: 520px;
    background-color: rgb(139, 207, 235);
}

#login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    height: 300px;
    width: 520px;
    background-color: rgb(139, 207, 235);
}

#login-text {
    background-color: rgb(139, 207, 235);
    font-size: 24px;
}

label {
    background-color: rgb(139, 207, 235);
}

.login-form {
    background-color: rgb(216, 227, 232);
    width: 250px;
    height: 22px;
    }

.submit-login {
    background-color: rgb(98, 164, 193);
    width: 120px;
}

.preview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

p {
    font-size: 25px;
    text-align: center;
}

footer {
    height: auto;
}

#sign-up {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#follow-us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.follow {
    height: 25px;
    width: auto;
}

