*{
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: bolder;
    background-color: rgb(173, 237, 173);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 50px;
    height: 75px;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.crumb {
    border: none;
    font-size: 17px;
}

#logo {
    height: 140px;
    width: auto;
    display: inline-flex;
    justify-content: flex-start;
}

h1 {
    text-align: center;
    font-size: 60px;
}

h2 {
    font-size: 27px;
    font-weight: bold;
    background-color: rgb(139, 207, 235);
}

h3 {
    font-size: 18px;
    text-align: center;
}

h4{
    font-size: 10px;
    text-align: center;
}

#add-habit {
    cursor: pointer;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border-width: medium;
    background-color: rgb(139, 207, 235);
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
}

form#recommendation {
    display: flex;
    flex-direction: row;
    width: 370px;
    text-align: center;
    background-color: rgb(139, 207, 235);
    border-radius: 7px;
}

p {
    background-color: rgb(139, 207, 235);
    font-size: 18px;
    text-align: center;
}

button#click-here {
    background-color: rgb(216, 227, 232);
    cursor: pointer;
    border-radius: 10px;
}

section.butns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
}

form {
    border-style: solid;
    width: 530px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(139, 207, 235);
}

table {
    width: 500px;
    background-color: rgb(216, 227, 232);
    border-radius: 10px;
}

.calendar {
    text-align: center;
}

input.habitName {
    height: 40px;
    width: 450px;
    display: flex;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(216, 227, 232);
}
  
.calendar tbody {
    color: black;
    background-color: rgb(216, 227, 232);
}
   
.calendar tbody td:hover {
    border: 2px solid #00addf;
    cursor: pointer;
}
   
.calendar td {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    line-height: 10px;
    text-align: center;
    width: 10px;
    background-color: rgb(216, 227, 232);
}

.calendar tr {
    background-color: rgb(216, 227, 232);
}

#remove {
    height: 21px;
    width: auto;
}

#edit {
    height: 21px;
    width: auto;
}

footer {
    height: auto;
}

#footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.follow {
    height: 25px;
    width: auto;
}