*{
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    background-color: rgb(173, 237, 173);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 50px;
    height: 75px;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.crumb {
    border: none;
    font-size: 17px;
}

#logo {
    height: 140px;
    width: auto;
    display: inline-flex;
    justify-content: flex-start;
}

h1 {
    text-align: center;
    font-size: 60px;
}

h3 {
    font-size: 18px;
    text-align: center;
}

h4{
    font-size: 15px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* .profile-info {
    border-style: none;
} */

footer {
    height: auto;
}

#sign-up {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#follow-us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.follow {
    height: 25px;
    width: auto;
}